.cube {
  -webkit-transform-style: preserve-3d;
  -webkit-transform-origin: 0%;
  -webkit-perspective-origin: 50%;
  -webkit-transform: rotateX(-15deg) rotateY(30deg);
  position:absolute;
  left:100px;
  top:100px;
}

.face {
  position: absolute;
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 50px;
  text-align: center;
  -webkit-transform-origin: 50%;
  -webkit-perspective-origin: 50%;
  -webkit-transform-style: preserve-3d;
}

.front {
  -webkit-transform: perspective(3.2cm) translateZ(50px);
  background-color: red;
}

.right {
  -webkit-transform: perspective(3.2cm) rotateY(90deg) translateZ(50px);
  background-color: green;
  opacity: 0.7;
}

.left {
  -webkit-transform: perspective(3.2cm) rotateY(-90deg) translateZ(50px);
  background-color: blue;
  opacity: 0.7;
}

.back {
  -webkit-transform: perspective(3.2cm) rotateY(180deg) translateZ(50px);
  background-color: yellow;
  opacity: 0.7;
}

.top {
  -webkit-transform: perspective(3.2cm) rotateX(90deg) translateZ(50px);
  background-color: cyan;
  opacity: 0.7;
}

.bottom {
  -webkit-transform: perspective(3.2cm) rotateX(-90deg) translateZ(50px);
  background-color: magenta;
  opacity: 0.7;
}

.container {
  width:800px;
  height:460px;
  overflow: hidden;
  border:1px solid blue;
  -webkit-transform-style: preserve-3d;
}

.layer {
  width:1200px;
  height:600px;
  background-color: white;
  background-repeat: repeat repeat;
  background-size: 100px 100px;
  background-image: url(https://thumbs.dreamstime.com/b/black-white-checker-pattern-llustration-texture-82326757.jpg);
  -webkit-transform-origin: 50% 80%;
  -webkit-transform: translateY(-17%) rotateY(45deg) perspective(3.2cm) rotateX(45deg) scaleY(0.5) translateZ(50px);
  /* -webkit-transform: translateX(-300px) translateY(-200px) translateZ(-200px) rotateY(45deg) perspective(800px) rotateX(-90deg) ; */
  border:1px solid red;
  /* -webkit-perspective: 3.2cm;
  -webkit-transform-style: preserve-3d;
  -webkit-perspective-origin: center center;
  -webkit-transform-origin: center center;
  -webkit-transform: perspective(200px) rotateX(-90deg) translateZ(50px); */
}